.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination__button {
	width: 6.25rem;
	padding: 1rem;
	border: none;
	background-color: crimson;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
}

.pagination__button:not(:disabled):hover {
	transform: scale(1.05);
	box-shadow: 0 5px 15px rgba(220, 20, 60, 0.4);
}

.pagination__button:not(:disabled):active {
	transform: scale(0.95);
	box-shadow: 0 2px 4px rgba(220, 20, 60, 0.4);
}

.pagination__button:disabled {
	background-color: rgba(220, 20, 60, 0.473);
	cursor: not-allowed;
}

.button:disabled {
	background-color: rgba(220, 20, 60, 0.473);
	cursor: not-allowed;
}
