.singlePage__post {
	background-color: var(--backgroundPost);
	width: 100%;
	max-width: 75rem;
	margin: 0 auto;
}

.singlePage__titleWrapper {
	max-width: 50rem;
	margin: 10% auto 15% auto;
}

.singlePage__infoContainer {
	display: flex;
	align-items: center;
	gap: 3.125rem;
}

.singlePage__textContainer {
	flex: 1;
}

.singlePage__textTitle {
	font-size: 4rem;
	text-align: center;

	@media screen and (max-width: 96rem) {
		font-size: 3.375rem;
	}

	@media screen and (max-width: 80rem) {
		font-size: 48px;
	}

	@media screen and (max-width: 40rem) {
		font-size: 36px;
	}
}

.singlePage__textTitle_divider {
	display: block;
	width: 120px;
	height: 2px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;
}

.text__userContainer {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.text__userImageContainer {
	width: 3.125rem;
	height: 3.125rem;
	position: relative;
}

.singlePage__imageAvatar {
	border-radius: 50%;
	object-fit: cover;
}

.text__userTextContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: var(--softTextColor);
}

.text__userName {
	font-size: 0.6875rem;
	font-weight: 500;
}

.text__userDate {
	font-size: 0.6875rem;
}

.singlePage__imageContainer {
	position: relative;
	flex: 1;
}

.singlePage__image {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.singlePage__content {
	display: flex;
	gap: 3.125rem;
	margin: 0 16%;
}

.content__post {
	margin-top: 3.75rem;
	margin-bottom: 2rem;
	flex: 5;

	@media screen and (max-width: 64rem) {
		max-width: 100%;
	}
}

.content__postDescription {
	color: var(--textContent);
}

.content__postDescription p {
	margin-bottom: 1.25rem;
	font-size: 1.25rem;
	font-weight: 300;
	overflow-wrap: break-word;

	img {
		max-width: 100%;
	}

	@media screen and (max-width: 40rem) {
		font-size: 1.125rem;
	}
}

.singlePage__category {
	font-size: 1.1rem;
	margin: 0.5rem 0;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center;
	width: 100%;
}
