.featured {
	margin: 12vh 0;
}

.featured__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 5rem;
	font-weight: 300;
	color: var(--mainTextColor);

	text-shadow:
		2px 2px 5px rgba(0, 0, 0, 0.3),
		5px 5px 70px rgba(255, 255, 255, 0.7);

	@media screen and (max-width: 120rem) {
		font-size: 3.5rem;
	}

	@media screen and (max-width: 80rem) {
		font-size: 3rem;
	}

	@media screen and (max-width: 64rem) {
		font-size: 3rem;
	}

	@media screen and (max-width: 48rem) {
		font-size: 2.25rem;
	}

	@media screen and (max-width: 40rem) {
		font-size: 2rem;
	}
	@media screen and (max-width: 28.6rem) {
		font-size: 1.75rem;
	}
}

.post {
	display: flex;
	align-items: center;
	margin-top: 3.75rem;
	gap: 3.125rem;
}

.post__imgContainer {
	position: relative;
	flex: 1;
	height: 31.25rem;

	@media screen and (max-width: 64rem) {
		display: none;
	}
}

.post__image {
	object-fit: cover;
}

.post__title {
	font-size: 2.5rem;

	@media screen and (max-width: 64rem) {
		font-size: 2.3rem;
	}

	@media screen and (max-width: 48rem) {
		font-size: 2rem;
	}

	@media screen and (max-width: 40rem) {
		font-size: 1.5rem;
	}
}

.post__description {
	font-size: 1.25rem;
	font-weight: 300;
	color: var(--softTextColor);

	@media screen and (max-width: 40rem) {
		font-size: 1rem;
	}
}

.post__button--readMore {
	width: max-content;
	padding: 1rem 1.25rem;
	border: none;
	border-radius: 5px;
}
