.loginPage__wrapper {
	display: flex;
	flex-direction: column;
	padding: 4rem 8rem;
	border-radius: 0.625rem;
	background-color: rgba(15, 23, 42, 0.2);
	backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.1);

	@media screen and (max-width: 768px) {
		padding: 3.125rem 6.25rem;
	}

	@media screen and (max-width: 640px) {
		padding: 1.875rem;
	}
}

.loginPage__input {
	background-color: rgba(15, 23, 42, 0.2);
	backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.1);
}
