.menu__categoryList {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2.2rem;
	margin-bottom: 3.75rem;
	gap: 1.25rem;
}

.category__item {
	width: 8rem;
	padding: 10px;
	border-radius: 10px;
	font-size: 0.875rem;
	text-align: center;
	text-transform: capitalize;
}
