.categoryList__title {
	margin: 3.125rem 0px;
	color: var(--mainTextColor);
}

.categoryList__categoriesContainer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1.25rem;
}

.category {
	display: flex;
	justify-content: center;
	width: 15%;
	height: 5rem;
	align-items: center;
	border-radius: 10px;
	gap: 10px;
	text-transform: capitalize;

	@media screen and (max-width: 80rem) {
		width: 20%;
	}

	@media screen and (max-width: 64rem) {
		width: 25%;
	}

	@media screen and (max-width: 48rem) {
		width: 45%;
	}

	@media screen and (max-width: 40rem) {
		width: 100%;
	}
}

.category__image {
	width: 32px !important;
	height: 32px !important;
	border-radius: 50%;
	object-fit: cover;
	flex-shrink: 0;
}
