/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
	--background: #fff;
	--reverseBackground: #000000;
	--reverseBackgroundRgb: "0, 0, 0";
	--accentBackground: #f3f4fd;
	--reverseAccentBackground: #4a4950;
	--text: #000000;
	--mainMotive: #ffd700;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	min-height: 100vh;
	background-color: var(--background);
	color: var(--text);
}

.content {
	display: flex;
	gap: 50px;
}

.wrapper {
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5rem;
	padding-right: 5rem;

	@media screen and (max-width: 80rem) {
		max-width: 64rem;
	}

	@media screen and (max-width: 64rem) {
		max-width: 48rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	@media screen and (max-width: 48rem) {
		max-width: 40rem;
	}

	@media screen and (max-width: 40rem) {
		max-width: 30rem;
	}
}
