/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
	--white: #fff;
	--black: #000;
	--background: #fff;
	--reverseBackground: #000000;
	--reverseBackgroundRgb: "0, 0, 0";
	--accentBackground: #f3f4fd;
	--reverseAccentBackground: #4a4950;
	--text: #000000;
	--mainMotive: #ffd700;

	--softBg: #f0f0f0;
	--softTextColor: #626262;
	--bgcDark: #0f172a;

	/* 320px */
	--breakpoint-smallPhone: 20rem;
	/* 420px */
	--breakpoint-phoneMedium: 26.25rem;
	/* 500px */
	--breakpoint-tabletPortrait500: 31.25rem;
	/* 608px */
	--breakpoint-tabletPortrait: 38rem;
	/* 640px */
	--breakpoint-tabletPortrait: 40rem;
	/* 700px */
	--breakpoint-tabletLandscape700: 43.75rem;
	/* 768px */
	--breakpoint-tabletLandscape700: 48rem;
	/* 800px */
	--breakpoint-tabletLandscape: 50rem;
	/* 900px */
	--breakpoint-smallDesktop: 56.25rem;
	/* 1024px */
	--breakpoint-smallDesktop1024: 64rem;
	/* 1280px */
	--breakpoint-desktop: 80rem;
	/* 1440px */
	--breakpoint-desktop1440: 90rem;
	/* 1700px */
	--breakpoint-desktop1700: 106.25rem;
	/* 1920px */
	--breakpoint-hdDesktop: 120rem;
	/* 2048px */
	--breakpoint-DKDesktop: 128rem;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

.dark {
	--background: #0f172a;
	--text: #ddd;
	--softBg: #1f273a;
	--softTextColor: #a6a6a6;
}

.light {
	--background: white;
	--text: black;
	--softBg: #f0f0f0;
	--softTextColor: #626262;
}

.container {
	min-height: 100vh;
	background-color: var(--background);
	color: var(--text);
}

.content {
	display: flex;
	gap: 50px;
}

.wrapper {
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5rem;
	padding-right: 5rem;

	@media screen and (max-width: 80rem) {
		max-width: 64rem;
	}

	@media screen and (max-width: 64rem) {
		max-width: 48rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	@media screen and (max-width: 48rem) {
		max-width: 40rem;
	}

	@media screen and (max-width: 40rem) {
		max-width: 30rem;
	}
}
