.loginPage__container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3.75rem;
}



.loginPage__socialButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.25rem;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor: pointer;

	@media screen and (max-width: 640px) {
		font-size: 0.875rem;
		font-weight: 400;
	}
}

.loginPage__socialButton:first-child {
	background-color: #ff5555;
}

.loginPage__socialButton:nth-child(2) {
	background-color: #111;
}

.loginPage__socialButton:nth-child(3) {
	background-color: #087bea;
}
