.navbar {
	position: sticky;
	top: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left: 0;
	width: 100%;
	height: 6.25rem;
	padding: 0 2rem;
	z-index: 10000;
	transition:
		background-color 0.4s ease-in-out,
		box-shadow 0.2s ease-in-out;
	/* overflow: hidden; */
}

.navbar.scrolled {
	background-color: rgba(180, 180, 180, 0.3);
	backdrop-filter: blur(15px);
	box-shadow:
		0 4px 6px rgba(0, 0, 0, 0.1),
		0 8px 10px rgba(0, 0, 0, 0.1),
		0 16px 20px rgba(0, 0, 0, 0.1);

	/* overflow-x: hidden; */
	/* overflow: hidden; */
	/* width: 100%; */
	/* box-sizing: border-box; */
	overflow-x: clip;
}

.search-button__container {
	flex: 1;
}

.search-button {
	display: inline-flex;
	align-items: center;
	gap: 0.625rem;
	flex: 1;
	cursor: pointer;
	color: var(--mainTextColor);
	font-size: 1.25rem;
}

.search-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s ease;
}

.search-button:hover .search-icon {
	transform: scale(1.2);
}

.search-svg {
	color: var(--mainTextColor);
	stroke: var(--mainTextColor);
}

.logo {
	flex: 1;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
}

.links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 1.25rem;
	flex: 1;
	font-size: 1.25rem;
	color: var(--mainTextColor);
}

.links a {
	position: relative;
	width: fit-content;
	transition: transform 0.3s ease;
}

.links a:before {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--mainTextColor);
	transition: width 0.3s ease;
}

.links a:hover,
.links button:hover,
.links .language-switcher:hover {
	text-shadow:
		2px 4px 8px rgba(0, 0, 0, 0.7),
		0px 2px 4px rgba(0, 0, 0, 0.7),
		-2px 0px 4px rgba(0, 0, 0, 0.7);
	transform: scale(1.05);
}

.links a:active,
.links button:active {
	transform: scale(0.95);
	text-shadow:
		1px 2px 4px rgba(0, 0, 0, 0.6),
		0px 1px 2px rgba(0, 0, 0, 0.6),
		-1px 0px 2px rgba(0, 0, 0, 0.6);
	transition:
		transform 0.1s ease,
		text-shadow 0.1s ease;
}

.links a:hover:before {
	width: 100%;
}

.links button {
	position: relative;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.links button:before {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 1px;
	background-color: var(--mainTextColor);
	transition: width 0.3s ease;
}

.links button:hover:before {
	width: 100%;
}

.logo .full-title {
	display: block;
	color: var(--mainTextColor);
	text-shadow:
		2px 4px 8px rgba(0, 0, 0, 0.7),
		0px 2px 4px rgba(0, 0, 0, 0.7),
		-2px 0px 4px rgba(0, 0, 0, 0.7);
}

.logo .short-title {
	display: none;
	color: var(--mainTextColor);
}

@media screen and (max-width: 80rem) {
	.logo {
		font-size: 2rem;
	}

	.links {
		font-size: 1.125rem;
		gap: 1rem;
	}
}

@media screen and (max-width: 64rem) {
	.search-button span {
		display: none;
	}
}

@media screen and (max-width: 48rem) {
	.logo {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 43.75rem) {
	.logo {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 40rem) {
	.links {
		justify-content: flex-end;
	}

	.link {
		display: none;
	}
}

@media screen and (max-width: 43.75rem) {
	.logo .full-title {
		display: none;
	}

	.logo .short-title {
		display: block;
	}
}
