.menu__itemsContainer {
	display: flex;
	flex-direction: column;
	margin-top: 2.2rem;
	margin-bottom: 3.75rem;
	gap: 2rem;
}

.menu__item {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.item__imageContainer {
	position: relative;
	flex: 1;
	aspect-ratio: 1/1;
}

.item__image {
	border: 3px solid lightgray;
	border-radius: 50%;
	object-fit: cover;
}

.item__textContainer {
	display: flex;
	flex-direction: column;
	flex: 4;
	gap: 5px;
}

.item__textPostTitle {
	color: var(--softTextColor);
	font-size: 1.125rem;
	font-weight: 500;
}

.item__textPostTitle:hover {
	text-decoration: underline;
}

.item__textDetails {
	font-size: 0.75rem;
}

.item__textDate {
	color: gray;
}
